body {
  background-color: #e9e986;
}

.navbar {
  background-color: black;
}

.navbar-brand {
  padding: 0px 50px 0px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 125%;
}

.jumbotron {
  padding-top: 75px;
  color: #e9e986;
  background-color: #111111;
  text-align: center;
  border-radius: 0%;
}

.footer {
  width: 100%;
  background-color: #111111;
  color: #e9e986;
  padding: 10px;
}
.copyright {
  padding-top: 10px;
  color: #ffffff;
}

footer img {
  height: 30% !important;
  width: 50px !important;
}
.icons {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer ul {
  padding-left: 0px !important;
  margin-bottom: 0px !important;
}
footer .fa {
  width: 40px !important;
  font-size: 18px;
  padding: 10px;
  padding-left: 10px;
  border-radius: 50px;
  background-color: rgb(32, 18, 18);
}
.fa-facebook-official {
  padding-left: 12px !important;
  color: rgb(7, 77, 182);
  border: 1px solid rgb(7, 77, 182);
}
.fa-instagram {
  padding-left: 11px !important;
  color: rgb(158, 47, 99);
  border: 1px solid rgb(158, 47, 99);
}
.fa-youtube-play {
  color: rgb(231, 48, 48);
  border: 1px solid rgb(231, 48, 48);
}
.fa-envelope {
  color: #4437b9;
  border: 1px solid #4437b9;
}
footer .fa:hover {
  background-color: #ffffff;
  border: none;
}

.maincontent {
  margin-right: 0;
  margin-left: 0;
}

h2 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.des {
  margin-top: 10px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f0f06a;
  color: #111111;
  font-size: 125%;
}
.des:hover {
  padding: 20px;
  background-color: #111111;
  color: #f0f06a;
  font-size: 125%;
}

.events {
  background-color: #111111;
  color: #e9e986;
}

.carousel {
  background-color: #e9e986;
  margin: 20px 20px 20px 20px;
}

.carousel .carousel-item img {
  width: 40%;
  margin-left: 30%;
}

.carousel-caption {
  color: #f0f06a;
  background-color: #111111;
}

.carousel-indicators {
  background-color: #111111;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #111111;
  height: 10%;
  width: 20%;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
