body {
  background-color: bisque;
}

.navbar {
  background-color: black;
}

.navbar-brand {
  padding: 0px 50px 0px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 125%;
}

.jumbotron {
  padding-top: 75px;
  color: bisque;
  background-color: #111111;
  text-align: center;
  border-radius: 0%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #111111;
  color: floralwhite;
  padding: 10px;
}

.copyright {
  padding-top: 10px;
}
