body {
  background-color: #e9e986;
}

.navbar {
  background-color: black;
}

.navbar-brand {
  padding: 0px 50px 0px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 125%;
}

.jumbotron {
  padding-top: 75px;
  color: #e9e986;
  background-color: #111111;
  text-align: center;
  border-radius: 0%;
}

.footer {
  background-color: #111111;
  color: #e9e986;
  padding: 10px;
}
.copyright {
  padding-top: 10px;
}

#particles-js {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: 0px;
  background: transparent;
}
